@import '../../../../variables';
.errorMessage {
  margin: auto;
  width: 300px;
  background-color: $red;
  border-radius: 0;
  color: $white;
}

.form-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  form {
    margin: auto;
    .mat-form-field {
      width: 300px;
    }
  }
}

.center{
  justify-content: center;
  text-align: center;
}
