h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.logo {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
.title {
  margin-top: 25px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {


}

@media screen and (max-width: 575px) {


}
