.issues-title {
  text-align: center;
  color: #FFF;
}
.issues-title-error {
  text-align: center;
  color: #f44336;;
}
.paginator {
  margin: 0 20px;
}
.card {
  margin: 10px 20px;
}

.link-github {
  margin-left: 20px;
}

.clickable {
  cursor: pointer;
}

.center {
  justify-content: center;
  text-align: center;
}

.error-loading {
  margin: auto;
  width: 300px;
  background-color: #f44336;
  border-radius: 0;
  color: #fff;
}
.error-container {
  margin-top: 10px;
}
