@import '../../../../variables';
.info-title {
  text-align: center;
  color: $white;
}
.info-title-error {
  text-align: center;
  color: $red;
}
.card {
  margin: 10px 20px;
}

.link-github {
  margin-left: 20px;
}

.clickable {
  cursor: pointer;
}
.badge {
  border-radius: 50%;
  color: $white;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.badge-danger {
  background-color: $red;
}
.badge-info {
  background-color: $green;
}
.no-issues {
  color: #4CAF50;
}

.center {
  justify-content: center;
  text-align: center;
}

.error-loading {
  margin: auto;
  width: 300px;
  background-color: $red;
  border-radius: 0;
  color: $white;
}
.error-container {
  margin-top: 10px;
}
