<div *ngIf="infoRepo && !error">
  <h3 class="info-title"> GITHUB REPOSITORY INFO</h3>
  <mat-card class="card">
    <mat-card-header>
      <img class="clickable" (click)="goToRepoLink(infoRepo.html_url)"
           alt="avatar image" mat-card-avatar src="/assets/github.png">
      <mat-card-title class="clickable" (click)="goToRepoLink(infoRepo.html_url)">{{infoRepo.owner.login}}/{{infoRepo.name}}</mat-card-title>
      <mat-card-subtitle>{{infoRepo.created_at | date:'medium'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="badge badge-info">
        {{infoRepo.language}}
      </span>
      <ul>
        <li class="no-issues" *ngIf="!infoRepo.has_issues"> <b>This GitHub repository has no Issues nor Pull Requests!</b></li>
        <li *ngIf="infoRepo.has_issues"> Number of Issues and Pull Requests: <span class="badge badge-danger">{{infoRepo.open_issues}}</span></li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="error" class="center error-container">
  <h3 class="error-loading"> Error getting repository info.</h3>
</div>
